@model SSC_Admin_Website.Models.KIOSK

@{
    ViewBag.Title = "Xóa KIOSK";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KIOSK</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaToken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaToken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenKO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayXD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayXD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayVH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayVH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaDiem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaDiem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhietDo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhietDo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThaiKo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThaiKo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageBanner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageBanner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConnectStr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConnectStr)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="hidden" name="id" value="@Model.MAKO"/>
            <input type="submit" value="Delete" class="btn btn-danger" /> 
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-secondary" })
        </div>
    }
</div>
