@model SSC_Admin_Website.Models.KIOSK

@{
    ViewBag.Title = "Sửa TT KIOSK";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-secondary" })
</div>

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "KIOSKs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>KIOSK</h4>
    <hr />
    <div class="form-group">
        <label >Mã KIOSK</label>
        <div >
            @Html.EditorFor(model => model.MAKO, new { htmlAttributes = new { @class = "form-control", maxlength = "18", required = "required", autofocus = "autofocus" } })
            @if (ViewBag.Validate_MaKO != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Validate_MaKO
                </div>
            }
        </div>
    </div>

    <div class="form-group">
        <label >Tên KIOSK</label>
        <div >
            @Html.EditorFor(model => model.TenKO, new { htmlAttributes = new { @class = "form-control", maxlength = "100" } })
            @if (ViewBag.Validate_TenKO != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Validate_TenKO
                </div>
            }
        </div>
    </div>

    <div class="form-group">
        <label >Ngày xây dựng</label>
        <div >
            <input type="date" name="NgayXD" for="NgayXD" class="form-control" value="@string.Format("{0:yyyy-MM-dd}", Model.NgayXD)" />
        </div>
    </div>

    <div class="form-group">
        <label >Ngày vận hành</label>
        <div >
            <input type="date" name="NgayVH" for="NgayVH" class="form-control" value="@string.Format("{0:yyyy-MM-dd}", Model.NgayXD)"/>
        </div>
    </div>

    @if (ViewBag.Validate_Ngay != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Validate_Ngay
        </div>
    }

    <div class="form-group">
        <label >Địa điểm</label>
        <div >
            @Html.EditorFor(model => model.DiaDiem, new { htmlAttributes = new { @class = "form-control", maxlength = "100" } })
            @if (ViewBag.Validate_DiaDiem != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Validate_DiaDiem
                </div>
            }
        </div>
    </div>

    <div class="form-group">
        <label >Trạng thái KIOSK</label>
        <div >
            <div class="checkbox">
                @if (Model.TrangThaiKo)
                {
                    <input type="checkbox" class="form-check-inline" name="TrangThaiKo" value="true" checked>
                    <label for="TrangThaiKo" class="form-check-label">Đang hoạt động</label>
                }
                else
                {
                    <input type="checkbox" class="form-check-inline" name="TrangThaiKo" value="true">
                    <label for="TrangThaiKo" class="form-check-label">Đang hoạt động</label>
                }

                @Html.ValidationMessageFor(model => model.TrangThaiKo, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <label >Hình banner hiện tại</label>
        <div>
            <div id="btnClearImage" class="btn btn-outline-secondary form-control" style="max-width:280px;">Clear</div>
            @if (Model.ImageBanner != null)
            {
                var base64 = Convert.ToBase64String(Model.ImageBanner);
                var imgsrc = string.Format("data:image/jpg;base64,{0}", base64);
                <input type="hidden" id="isClear" name="isClear" value="false" />
                <img id="imgNow" class="img-responsive" src="@imgsrc" style="max-width:200px;">
            }

        </div>
    </div>

    <div class="form-group">
        <label >Hình banner mới</label>
        <div >
            <input type="file" name="fImageBanner" class="form-control-file" onchange="previewFile()" />
            <img src="" id="preview" height="200" alt="Image preview...">
        </div>
    </div>

    <div class="form-group">
        <label>Connect string</label>
        <div >
            @Html.EditorFor(model => model.ConnectStr, new { htmlAttributes = new { @class = "form-control" } })
            @if (ViewBag.Validate_ConnectStr != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.Validate_ConnectStr
                </div>
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Edit" class="btn btn-outline-warning" />
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#btnClearImage").click(function () {
                $("#HinhAnh").val(null);
                $("#imgNow").prop("src", null);
                $("#imgNow").prop("alt", "");
                $("#isClear").val(true);
            });
        });

        function previewFile() {
            var preview = document.querySelector('#preview');
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        }
    </script>
}
