@using PagedList.Mvc;
@using PagedList;
@model IPagedList<SSC_Admin_Website.Models.V_DonViMatHang>

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên đơn vị
        </th>
        <th>
            Loại mặt hàng
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenLMH)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaDV }, new { @class = "btn btn-outline-warning" })
                @Html.ActionLink("Delete", "Delete", new { id = item.MaDV }, new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))