@model IEnumerable<SSC_Admin_Website.Models.HinhThuc_ThanhToan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenHTTT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageHTTT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenHTTT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageHTTT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaHTTT }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaHTTT }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaHTTT })
        </td>
    </tr>
}

</table>
