@model SSC_Admin_Website.Models.KhachHang

<div class="row" >
    <div class="col-md-12">
        <label  >Họ và Tên:</label>
         @Model.TenKH
    </div>
    <div class=" col-md-12">
        <label>Số CMND:</label>
        @Model.CMND
    </div>
    <div class="col-md-12">
        <label >Địa chỉ: </label>
        @Model.DiaChi
    </div>
    <div class="col-md-12">
        <label >Email: </label>
        @Model.Email
    </div>
    <div class=" col-md-12">
        <label >Số Điện Thoại: </label>
        @Model.SDT
    </div>

</div>

