@using PagedList.Mvc;
@using PagedList;
@model IPagedList<SSC_Admin_Website.Models.V_KhachHang>

@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách thông tin tài khoản</h2>


<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table table-responsive-sm table-hover">
    <thead>
        <tr>
            <th>
                CNMD
            </th>
            <th>
                Họ tên
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Email
            </th>
            <th>
                SĐT
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CMND)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenKH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiaChi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaKH })
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))