@model SSC_Admin_Website.Models.ChiTietQC

@{
    ViewBag.Title = "Xóa chi tiết QC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ChiTietQC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayBDQC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayBDQC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayKTQC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKTQC)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="hidden" name="SoHD" value="@Model.SoHD" />
    <input type="hidden" name="MaKO" value="@Model.MAKO" />
    <input type="hidden" name="MaQC" value="@Model.MaQC" />
    <input type="submit" value="Delete" class="btn btn-default" /> |
    @Html.ActionLink("Back to List", "Index")
</div>
    }
</div>
