@model SSC_Admin_Website.Models.QuangCao

@{
    ViewBag.Title = "Thêm quảng cáo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-secondary" })
    </div>

<h2>Create</h2>


@using (Html.BeginForm("Create", "QuangCaos", FormMethod.Post, new { enctype="multipart/form-data"})) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Quảng cáo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="col-md-2">Nội dung</label>
            <div class="col-md-10">
                <input type="text" name="NoiDung" class="form-control" maxlength="200" />
                @if (ViewBag.Validate_NoiDung != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.Validate_NoiDung
                    </div>
                }
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">Hình ảnh</label>
            <div class="col-md-10">
                <input type="file" name="HinhAnh" class="form-control-file" onchange="previewFile()" />
                <img src="" id="preview" height="200" alt="Image preview...">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2">Thời lượng</label>
            <div class="col-md-10">
                <input type="number" min="0" step="1" name="ThoiLuong" class="form-control" style="display:inline-block" required /> giây
                @if (ViewBag.Validate_ThoiLuong != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.Validate_ThoiLuong
                    </div>
                }
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-outline-success" />
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function previewFile() {
            var preview = document.querySelector('#preview');
            var file = document.querySelector('input[type=file]').files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        }
    </script>
}
