@model SSC_Admin_Website.Models.TaiKhoan

@if (Model == null)
{
    <ul class="nav navbar-nav navbar-right" style="float:right">
        <a class="btn-primary btn-sm" href=@Url.Action("FormLogin","TaiKhoanAdmins") id="searchbtn" style="text-decoration:none;">Đăng Nhập</a>
    </ul>
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item">
            @Html.ActionLink("KIOSK", "Index", "KIOSKs", null, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Tài khoản admin", "Index", "TaiKhoanAdmins", null, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Quảng cáo", "Index", "QuangCaos", null, new { @class = "nav-link" })
        </li>
        <li class="nav-item">
            @Html.ActionLink("Cài đặt", "Index", "Configs", null, new { @class = "nav-link" })
        </li>
        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                QL bán hàng
            </a>
            <div class="dropdown-menu">
                @Html.ActionLink("Loại mặt hàng", "Index", "LoaiMatHangs", null, new { @class = "dropdown-item" })
                @Html.ActionLink("Đơn vị mặt hàng", "Index", "DonVi_MatHangs", null, new { @class = "dropdown-item" })
                @Html.ActionLink("Mặt hàng", "Index", "MatHangs", null, new { @class = "dropdown-item" })
                @Html.ActionLink("Đợt Khuyến Mãi", "Index", "DotKhuyenMais", null, new { @class = "dropdown-item" })
            </div>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item"> <span class="nav">Xin Chào </span></li>
        <li class="nav-item"><a href=@Url.Action("SuaKH","KhachHang") class="nav-link">@ViewBag.TenKH</a></li>
        <li class="nav-item">@Html.ActionLink("Log out", "Logout", "Home", null, new { @class = "nav-link" })</li>
    </ul>

}
